<!doctype html>
<html>
  <title>University Registrar</title>
  <head>
    <link rel="stylesheet" href='/static/index.css'/>
    <link rel="stylesheet" href='/static/css/bootstrap.min.css'/>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row p-3">
        <div class="col"></div>
        <div class="col">
          <h1 class="center">Find Students In A Course</h1>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <h3>Courses</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Course Name</th>
          <th scope="col">Course Day Time</th>
        </tr>
      </thead>
      <tbody>
        {% for (id, name, time) in courses %}
        <tr>
          <td>{{id}}</td>
          <td>{{name}}</td>
          <td>{{time}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <form action="{{ url_for('find_students_in_course') }}" method="get">
      <div class="container-fluid">
        <div class="row p-3">
          <div class="col"></div>
          <div class="col">
          <input name="course_id" type="text" class="form-control" placeholder="Course Id">
          </div>
          <div class="col"></div>
        </div>
        <div class="row p-3">
          <div class="col"></div>
          <div class="col">
            <button class="btn btn-primary">Submit</button>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
    </form>
    <div class='text-center'>
      <button class="btn btn-danger " onclick="window.location.href='{{ url_for('index') }}';">Back to Home</button>
    </div>
    <div class='text-center p-3'>
      <p>{{result_message if result_message != None else ""}}</p>
    </div>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
